{% extends "partials/simpleBase.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<!-- section 1 services -->
<section>
    <div class="container custom_container">
        <div class="row">
			<!-- section part 1 -->
            <div class="col-lg-10 col-md-offset-1 text-center">
              <div class="videos-container">
                 <div class="title">Videos</div>
                 <div class="video-thumb">
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-9@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">Licuados en la Mañana</div>
                    </div>
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-8@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">Beneficio del Platano</div>
                    </div>
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-10@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">Comiendo Snacks</div>
                    </div>
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-11@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">Frutas y Verduras</div>
                    </div>
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-12@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">¿Qué mermelada comprar?</div>
                    </div>
                    <div class="miniclip">
                      <div class="arrow" style="background-image:URL('./img/videos/group-13@3x.jpg')">
                        <img class="play" src="./img/videos/page-1.png"/>
                      </div>
                      <div class="name-clip">Cómo comer</div>
                    </div>
                 </div>
              </div>
            </div>
        </div>
    </div>
</section> <!-- /section 1 services -->
{% endblock %}
