/* slider css */
.carousel-indicators {
	display none
}
.carousel-inner{
	/* background-image url('../img/slider/group-3@3x.png') */
	background-size cover

	.carousel-caption{
		text-align left
		text-shadow 0px 0px 0px !important
		right 0%
		bottom 240px
		left 10%
		width 50%

		.banner_text{
			font-size 72px
			margin 4px 0px
			color white
			font-family 'FuturaStd-Medium'
		}
		.sub_head{
			font-size 42px
			margin-bottom 30px
			font-family 'FuturaStd-Medium'
			margin-top 18px
		}
		.read_more_btn{
			background-color transparent
			padding 11px 38px
			font-size 20px
			border 4px solid white
			border-radius 0px
			font-family 'Montserrat-Regular'
		}
		.read_more_btn:hover{
			background-color $orange
		}
	}
}
.carousel-control{
	width 0px !important
	opacity 1

	.glyphicon {
		position relative
		top 315px

		.glyph_l{
			width 40px
			height 40px
		}
	}

	.glyph_right{
		left -174px
	}
	.glyph_left{
		left 100px
	}
}
.carousel-control.left, .carousel-control.right {
   background-image none !important
   filter none !important
}
.nav_container {
	width auto
	font-family 'Montserrat-Regular'
}

/* navbar css */
.navbar-toggle{
	display none
}
.navbar {
	background-color $orange
	border 0px none !important
	border-radius 0px

	.navbar-header {
		position absolute
		left 0px
		bottom 65px
		right 0px
		margin 0 auto
		float none

		.navbar-brand {
			padding 0px
			float none

			img{
				margin 0px auto
			}
		}
	}
	.navbar-nav{
		width 100%
		text-align center

		li{
			float none
			display inline-block
			a {
				color white
				font-size 18px
				padding 26px 20px
			}
		}
	}
	.collapse.navbar-collapse{
		margin-top 28px
	}
}

/* mobile-responsive */
@media only screen and (max-width: 767px){

/* navbar css */
	.navbar-toggle{
		display block
	}
	.navbar {
		.navbar-header {
			position unset

			.navbar-brand {
				height auto
				padding 0px 0px

				img {
					display block
					height 55px
					margin-left 20px
				}
			}

			.navbar-toggle {
				float right
				padding 9px 23px
				margin-right 22px
			}
		}

		.navbar-nav {
			margin 0px
			text-align left

			li{
				display block
				padding 0px

				a{
					padding 10px
				}
			}
		}
		.collapse.navbar-collapse {
			margin-top 0px
		}
	}

	/* slider css */
	.carousel-control {
		.glyphicon {
			position relative
			top 100px

			.glyph_l {
				width 32px
				height 28px
			}
		}

		.glyph_left {
			left 0px
		}

		.glyph_right {
			left -58px
		}
	}
	.carousel-inner .read_more_btn{
		border 2px solid white !important
	}
}

@media only screen and (max-width: 468px){
/* slider css */
	.carousel-inner {

		.carousel-caption {
			right 0
			bottom 12px

			.banner_text {
				font-size 16px
			}

			.sub_head {
				font-size 11px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 9px
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 780px){
	/* navbar css */
	.navbar-toggle{
		display none
	}
	.navbar .navbar-nav li a {
		font-size 17px
		padding 27px 10px
	}
}
@media only screen and (min-width: 468px) and (max-width: 769px){
	/* slider css */
	.carousel-inner {

		.carousel-caption {
			right 0
			bottom 50px

			.banner_text {
				font-size 30px
			}

			.sub_head {
				font-size 18px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 13px
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){

/* slider css */
	.carousel-inner {

		.carousel-caption {
			right 0
			bottom 50px

			.banner_text {
				font-size 40px
			}

			.sub_head {
				font-size 25px
				margin 8px 0px
			}

			.read_more_btn {
			    padding 6px
			    font-size 17px
			}
		}
	}

	.carousel-control {

		.glyphicon {
			position relative
			top 177px
		}

		.glyph_left {
			left 34px
		}

		.glyph_right {
			left -116px
		}
	}
}

/* @media only screen and (min-width: 1025px) and (max-width: 1280px){
	.carousel-inner{
		.carousel-caption {
			bottom 140px
			left 12%

			.banner_text {
				font-size 62px
			}

			.sub_head {
				font-size 36px
			}

			.read_more_btn {
				font-size 18px
			}
		}
	}

	.carousel-control{
		.glyphicon {
			position relative
			top 272px
		}
	}
} */

@media only screen and (min-width: 1025px) and (max-width: 1280px){

	.carousel-inner{
		.carousel-caption {
			bottom 170px
			left 12%

			.banner_text {
				font-size 45px
			}

			.sub_head {
				font-size 32px
			}

			.read_more_btn {
				font-size 18px
			}
		}
	}

	.carousel-control{
		.glyphicon {
			position relative
			top 272px
		}
	}
}



/* client display */
@media only screen and (min-width: 1280px) and (max-width: 1370px){
	.carousel-inner{
		.carousel-caption {
			bottom 160px
			left 12%

			.banner_text {
				font-size 62px
			}

			.sub_head {
				font-size 36px
			}

			.read_more_btn {
				font-size 18px
			}
		}
	}

	.carousel-control{
		.glyphicon {
			position relative
			top 308px
		}
	}
}

.navbar-header {
	position absolute
	left 0 !important
	right 0 !important
	margin 0 auto !important
	margin-top 25px !important
	bottom 0 !important
	float none !important
	top 1em !important
}
.video-thumb {
	display flex
	flex-wrap wrap
	justify-content space-between
}
.title {
	font-family Montserrat-Regular
	font-size 1.8em !important
	color #4a4a4a
	margin-bottom 65px
}

.navbar .navbar-nav li a {
    color #fff !important
    font-size 1.2em !important
    padding 25px 10px !important
}
.navbar .navbar-header .navbar-brand img {
    width 9em !important
}

.navbar .navbar-nav {
	height 7em !important
}

.navbar {
	.collapse.navbar-collapse{
		margin-top 0 !important
	}
}
.miniclip {
	height 335px
}
.select {
	height 98px
	border-bottom 4px solid #f7c42a
}
.arrow {
	width 450px
	height 220px
	background-size contain
	background-repeat no-repeat
	padding 80px
}
.play {
	width 3em
}
.name-clip {
	font-size large
	font-family Montserrat-Regular
	padding-top 20px
	color #4a4a4a
}
section {
	padding 65px 0 300px 0px !important
}
